.bn1 {
  background: url("../img/bn1.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.bn2 {
  background: url("../img/bn2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.bn3 {
  background: url("../img/bn3.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.bn4 {
  background: url("../img/bn4.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.bn5 {
  background: url("../img/bn5.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.bn6 {
  background: url("../img/bn6.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.bn7 {
  background: url("../img/bn7.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.bn8 {
  background: url("../img/bn8.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
